<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>communitysponsors</key>
	<array/>
	<key>technology</key>
	<array/>
	<key>stayingsafe</key>
	<array/>
	<key>immigration</key>
	<array/>
	<key>federallaw</key>
	<array/>
	<key>shelters</key>
	<array/>
</dict>
</plist>
